################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BioEmoKod
/.vs/BottleWebProject_C324_ AVPS
/BioEmoKod/env3
/BioEmoKod/controller/__pycache__
/.vs
/BioEmoKod/env1
/BioEmoKod/__pycache__
