################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BioEmoKod
/.vs/BottleWebProject_C324_ AVPS
