/* Выравнивание высоты колонок */
.equal-height-row {
    display: flex;
    flex-wrap: wrap;
}

    .equal-height-row > [class*="col-"] {
        display: flex;
        flex-direction: column;
    }

    .equal-height-row .panel {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .equal-height-row .panel-body {
        flex: 1;
    }

.theory-panel .panel-body {
    overflow-y: visible;
    max-height: none;
}

/* Увеличиваем размер шрифта для заголовков в аккордеоне */
.panel-group .panel-title {
    font-size: 20px;
}


/* Выравнивание шрифтов подписей и полей ввода */
.form-horizontal .control-label {
    font-size: 16px;
    font-weight: normal;
}

.form-control {
    font-size: 16px;
}

/* Для всех подписей в форме */
.form-group label {
    font-size: 18px;
    font-weight: normal;
}

/* Для вспомогательного текста (help-block) */
.help-block {
    font-size: 16px;
}

/* Заголовки внутри расчётной панели */
.panel-primary h4 {
    font-size: 16px;
    font-weight: bold;
}

/* Подписи внутри панели теории */
.theory-panel .panel-body {
    font-size: 18px;
}
